.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.allOrderDetailsPage {
  padding: 20px;
}

.singleOrder {
  background-color: beige;
  width:200px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;

}

.searchOrder {
  margin-left:50px;
}

.allOrders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filterSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pageNavigationSection{
  display:flex;
  justify-content: center;
  margin-top:20px
}

.pageNavigationSection button{
  margin-left: 10px;
  margin-right: 10px;
}

.filterSection input {
  margin-left: 50px;
  width: 220px;
}

.filterSection div {
  display: flex;
  flex-direction: row;
}

.filterSection button{
  margin-left: 15px;
}

.filterSection .sortSection {
  margin-left: 30px;
}

@media only screen and (max-width: 600px) {
  .filterSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .filterSection .sortSection {
    margin-top:10px
  }


}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
